@model SkillProfi.Auth.UserLogin

<div>
    <div>
        <div>
            <h3 class="text-center">Вход</h3>
            <form action="~/Account/Login" method="Post" class="register-form">
                <input class="input-user" name="LoginProp" placeholder="Логин" />
                <input class="input-user" type="password" name="Password" placeholder="Пароль" />
                <button class="input-user btn-user" type="submit">Войти</button>
            </form>
        </div>
    </div>
</div>