@model SkillProfi.Auth.UserLogin

<div>
    <div>
        <div>
            <h3 class="text-center">Вход</h3>
            <form action="~/Account/Login" method="Post">
                <input name="LoginProp" placeholder="Логин" />
                <input type="password" name="Password" placeholder="Пароль" />
                <button type="submit">Войти</button>
            </form>
        </div>
    </div>
</div>