@model SkillProfi.Auth.UserRegistration
<div>
    <div>
        <div>
            <h3>Регистрация</h3>
            <form action="~/Account/Register" asp-antiforgery="true" method="post" class="register-form">
                <input class="input-user" name="LoginProp" placeholder="Логин" />
                <input class="input-user" type="password" name="Password" placeholder="Пароль" />
                <input class="input-user" type="password" name="ConfirmPassword" placeholder="Повторите пароль" />
                <input class="input-user btn-user" type="submit" value="Зарегистрироваться" />
                </form>
            @*<form asp-action="Register" asp-antiforgery="true" class="form">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <div>
                        <input asp-for="LoginProp" placeholder="Логин" />
                    </div>
                </div>

                <div>
                    <div>
                        <input asp-for="Password" placeholder="Пароль" />
                    </div>
                </div>

                <div>
                    <div>
                        <input asp-for="ConfirmPassword" placeholder="Продублируйте пароль" />
                    </div>
                </div>

                <div>
                    <button type="submit">Зарегистрироваться</button>
                </div>
            </form>*@

        </div>
    </div>
</div>