﻿@if (User.Identity.IsAuthenticated)
{
    <div class="btn-group pull-right" style="width: 650px;">
        <a class="navbar-brand" href="#">Администратор @User.Identity.Name в системе</a>
        <form action="~/Account/Logout" method="post">
            <input type="submit" value="Выход"/>
        </form>
    </div>
}
else
{
    <div class="btn-group pull-right">
        <a class="navbar-brand" href="/Account/Login">Вход</a>
        <a class="navbar-brand" href="/Account/Register">Регистрация </a>
    </div>
}