<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#SkillProfi</title>
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="container">
    <header class="header-container flex">
        <img src="/img/logo.png" alt="">
        <div class="header-text flex">
        <nav class="header-navigtaion">
                <ul class="header-list restore-list flex">

                    <li class="header-list-item"><a href="/">Главная</a></li>

                    <li class="header-list-item"><a href="projects">Проекты</a></li>

                    <li class="header-list-item"><a href="services">Услуги</a></li>

                    <li class="header-list-item"><a href="blog">Блог</a></li>

                    <li class="header-list-item"><a href="contacts">Контакты</a></li>
                </ul>
        </nav>
        <h1 class="header-title">Расширяем возможности</h1>
    </div>
    </header>
    <main class="main-container flex" style="background-image: url(/img/main-info.jpeg);">
            <a href="№" class="btn main-btn">оставить заявку</a>
    </main>
    <section class="form-container flex">
        <p class="form-title">
            <a href="#" class="form-title-text">Главная</a>
        </p>
        <form action="~/Home/AddAppeal" method="post" class="form-form flex">
            <div class="form-column flex">
            <article class="form-item flex">
                <span class="form-title">Имя</span>
                <input type="text" name="Name" id="">
            </article>
            <article class="form-item flex">
                <span class="form-title">E-Mail</span>
                <input type="text" name="Email" id="">
            </article>
        </div>
            <article class="form-item flex">
                <span class="form-title">Текст обращения</span>
                <input class="form-input-big" type="text" name="Appeal" id="">
            </article>
            <input type="submit" class="btn form-btn" value="Отправить"/>
        </form>
    </section>
    <footer class="footer-container flex">
        <p>#SkillProfi - 2023 Policy</p>
    </footer>
</body>
</html>