<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#SkillProfi-Проекты</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header class="header-container flex">
        <img src="/img/logo.png" alt="">
        <div class="header-text flex">
            <nav class="header-navigtaion">
                <ul class="header-list restore-list flex">

                    <li class="header-list-item"><a href="/">Главная</a></li>

                    <li class="header-list-item"><a href="projects">Проекты</a></li>

                    <li class="header-list-item"><a href="services">Услуги</a></li>

                    <li class="header-list-item"><a href="blog">Блог</a></li>

                    <li class="header-list-item"><a href="contacts">Контакты</a></li>
                </ul>
            </nav>
            <h1 class="header-title">Расширяем возможности</h1>
        </div>
    </header>
    <section class="project-container">
        <p class="form-title">
            <a href="#" class="form-title-text">Проекты</a>
        </p>
        <div class="project-info">
            <h2 class="project-title">Проекты</h2>
            <div class="project-card-list flex">
                <a href="sberbank" class="project-info">
                    <div class="project-card">
                        <article class="project-card-item flex"
                                 style="background-image: url(/img/project-photo1.jpg)">
                            <span class="project-card-text">обработка заявок в режиме онлайн</span>
                        </article>
                    </div>
                </a>
                <a href="meat" class="project-info">
                    <div class="project-card">
                        <article class="project-card-item flex" style="background-image: url(/img/project-photo2.jpg)">
                            <span class="project-card-text">управление кадрами и расчет зарплаты</span>
                        </article>
                    </div>
                </a>
                <a href="read" class="project-info">
                    <div class="project-card">
                        <article class="project-card-item flex"
                                 style="background-image: url(/img/project-photo3.png)">
                            <span class="project-card-text">
                                доработка CRM и корпоративного <br />
                                интернет-магазина
                            </span>
                        </article>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <footer class="footer-container flex">
        <p>#SkillProfi - 2023 Policy</p>
    </footer>
</body>
</html>
