<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#SkillProfi-Проекты-sberbank</title>
</head>
<body>
    
    <main class="project-container">
        <p class="form-title">
            <a href="#" class="form-title-text">Проекты - Читай город</a>
        </p>
        <div class="sber-title flex">
            <h2 class="subproject-title">
                доработка CRM и корпоративного <br>
                интернет-магазина
            </h2>
            <img src="/img/project-photo3.png" alt="">
        </div>
        <span class="subproject-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tempora a vel! Laboriosam exercitationem mollitia fugiat? Rerum voluptatem sed animi neque inventore. Alias, illum nobis eligendi voluptas modi nostrum tempora!
            Mollitia quasi animi, atque amet pariatur cumque quia ea sed totam quaerat obcaecati veritatis eaque vitae? Necessitatibus velit molestiae numquam sint aspernatur aliquid id in sed voluptates. Dolor, a exercitationem!
            <br>
            <br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis mollitia explicabo neque beatae nihil iste distinctio culpa nostrum, ut aliquid quas officiis! Facilis hic distinctio porro ratione sequi adipisci ab.
            <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio quae, accusantium mollitia recusandae commodi, quas earum omnis repellat nihil maxime quos quod quisquam blanditiis quis perferendis animi sunt rem.
            Ipsam quas tempora velit corporis cum vero id, nam autem corrupti in architecto odio officiis, quam debitis non, consequuntur illo iusto est facere sed? Officiis architecto placeat unde nihil adipisci!
            Modi veniam velit pariatur odit nam? Eum ea, natus libero minus sequi deserunt enim illum reiciendis aliquam, harum voluptatem corrupti quidem iste neque voluptate veniam, ipsum maiores vero placeat dicta.
        </span>
    </main>
    <footer class="footer-container flex">
        <p>#SkillProfi - 2023 Policy</p>
    </footer>
</body>
</html>