<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#SkillProfi - Услуги</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header class="header-container flex">
        <img src="/img/logo.png" alt="">
        <div class="header-text flex">
            <nav class="header-navigtaion">
                <ul class="header-list restore-list flex">
                    
                    <li class="header-list-item"><a href="/">Главная</a></li>
                    
                    <li class="header-list-item"><a href="projects">Проекты</a></li>
                    
                    <li class="header-list-item"><a href="services">Услуги</a></li>
                    
                    <li class="header-list-item"><a href="blog">Блог</a></li>
                    
                    <li class="header-list-item"><a href="contacts">Контакты</a></li>
                </ul>
            </nav>
            <h1 class="header-title">Расширяем возможности</h1>
        </div>
    </header>
    <p class="form-title">
        <a href="#" class="form-title-text">Услуги</a>
    </p>
    <div class="services">
        <h2 class="project-title">Услуги</h2>
        <div class="services-container flex">
            <details class="services-info">
                <summary class="services-subtitle">Импотрозамещение</summary>
                <p class="services-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio praesentium quaerat minus sit perspiciatis aliquam tempore fugit rerum, ut accusantium molestias vero impedit ullam soluta sequi ipsa sunt libero? Amet!
                    Animi laboriosam fuga, iste saepe laborum culpa? Atque sequi modi, dicta cum quaerat omnis odio rem vel reprehenderit. Nulla deleniti voluptas impedit minima repellat eius itaque earum doloremque sunt sint?
                </p>
            </details>
            <details class="services-info">
                <summary class="services-subtitle">Цифровые решения</summary>
                <p class="services-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, dolores. Itaque adipisci quod voluptatibus sapiente ratione illo aliquam numquam nisi cumque, nam reprehenderit ipsa labore autem harum. Quod, ipsa excepturi?
                    Qui cumque sed in, aperiam repudiandae optio molestias magnam voluptatibus facilis? Dolore, a excepturi? Laudantium esse expedita, consectetur tempora mollitia officiis sed iste, non, nam libero commodi. Molestiae, qui sint!
                </p>
            </details>
            <details class="services-info">
                <summary class="services-subtitle">Аналитика</summary>
                <p class="services-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio officiis incidunt inventore ad error! Fugit laboriosam dolorum expedita a, animi molestiae necessitatibus, recusandae delectus cum eligendi perspiciatis obcaecati sequi aperiam!
                    Tempora eius natus molestias quidem quo asperiores porro aut doloremque. Dolorum, reiciendis. Nulla dolor quaerat vitae ipsa quisquam et excepturi tempora amet aliquid molestiae veniam similique recusandae odio, ducimus minus!
                </p>
            </details>
            <details class="services-info">
                <summary class="services-subtitle">Техническая поддержка</summary>
                <p class="services-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ex dignissimos distinctio id vel. Rerum blanditiis expedita, labore repellat atque, debitis ut, neque odio rem porro ex veniam sint quam!
                    Voluptas fugit temporibus molestiae ea nam veniam accusantium nemo quas perspiciatis, amet unde porro pariatur cupiditate assumenda, enim culpa itaque facilis, repudiandae consectetur commodi qui corporis! Quis dignissimos iste quaerat?
                </p>
            </details>
        </div>
    </div>
    <footer class="footer-container flex">
        <p>#SkillProfi - 2023 Policy</p>
    </footer>
</body>
</html>