<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#SkillProfi-Блог-third</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header class="header-container flex">
        <img src="/img/logo.png" alt="">
        <div class="header-text flex">
            <nav class="header-navigtaion">
                <ul class="header-list restore-list flex">

                    <li class="header-list-item"><a href="/">Главная</a></li>

                    <li class="header-list-item"><a href="projects">Проекты</a></li>

                    <li class="header-list-item"><a href="services">Услуги</a></li>

                    <li class="header-list-item"><a href="blog">Блог</a></li>

                    <li class="header-list-item"><a href="contacts">Контакты</a></li>
                </ul>
            </nav>
            <h1 class="header-title">Расширяем возможности</h1>
        </div>
    </header>
    <p class="form-title">
        <a href="#" class="form-title-text">Блог - third</a>
    </p>
    <h2 class="project-title">Рабочий уикенд</h2>
    <div class="first-container flex">
        <div class="first-card">
            <p class="blog-publicDate">21.08.2019</p>
            <img src="/img/blog-photo3.jpg" class="blog-img" alt="">

        </div>
        <div class="first-text flex">
            <span class="blog-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil praesentium soluta cupiditate aliquam, quod deleniti tempore dolores assumenda, deserunt, eaque vitae amet ullam id! Debitis cupiditate aperiam sit porro reiciendis!
                <p>
                    Blanditiis, architecto labore possimus vel explicabo odit maxime, veniam iure sunt maiores iusto laudantium eius tenetur eum nihil ratione deserunt totam qui porro quibusdam officiis? Ratione itaque ipsam ullam aut?
                    Veritatis temporibus ea id ratione quos aut ad qui ipsa facere error in, tenetur eaque eos aliquid reiciendis. Minus, repudiandae odit labore excepturi corporis magni beatae nemo dolorum laudantium aliquam?
                </p>
                <p>Iusto, exercitationem alias distinctio consectetur fugiat reprehenderit maiores officiis perferendis, praesentium officia incidunt. Enim at adipisci quis quod sapiente, placeat explicabo. Cupiditate natus, est fugiat alias eaque exercitationem mollitia soluta!</p>
                <p>Rerum quam molestias ex praesentium, porro tempora magnam quos quaerat at repellat, saepe nihil. Reprehenderit veritatis, dolorum nobis officiis quisquam non molestias impedit minus assumenda recusandae, veniam, iure eligendi deleniti.</p>
            </span>
            <a href="blog" class="btn blog-return">Назад</a>
        </div>
    </div>
    <footer class="footer-container flex">
        <p>#SkillProfi - 2023 Policy</p>
    </footer>
</body>
</html>